pyttsx3
speechRecognition
PyAudio
fuzzywuzzy
python-Levenshtein
pygetwindow
pycaw
comtypes
screen_brightness_control
opencv-python
pyautogui
pyqt6
psutil
google-generativeai
pynput
Pillow
SpeechRecognition
pygame
opencv-python